@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/UbuntuMono.woff2") format('woff2');
}

ul.draggable {
    padding-inline-start: 0px;
}

ul.draggable li {
    list-style-type: none;
}

ul.draggable li input {
    font-family: 'Ubuntu Mono';
    font-weight: bolder;
}

.capabilities-table .capability, .capabilities-table .breakpoint {
    cursor: pointer;
}

.capabilities-table .capability {
    display: inline-block;
}

.chosen-container-single .chosen-single {
    padding: 0;
    border: none;
    border-radius: 0%;
    background: none;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
    font-size: .875rem;
    transition: all .15s ease-in-out;
    height: calc(1.5em + 1.25rem + 5px);
}

.chosen-container-single .chosen-single div b {
    margin-top: 10px;
}

.capabilities-table .checkbox-wrapper {
    padding-top: 5px;
    display: inline-block;
}

.select-wrapper {
    vertical-align: top;
    margin-left: 5px;
    display: inline-block;
}
