extends page-login

block content
    div(class="card-header bg-transparent pb-5")
        form(action='/login', method='POST', role="form")
            div(class="input-group-merge input-group-alternative")
                    div(class="input-group-prepend")
                        span(class="input-group-text")
                            i(class="fas fa-envelope")
                        input(type='text', class="form-control", name='email', value='' placeholder="E-mail" required, autofocus)
            div(class="input-group-merge input-group-alternative")
                    div(class="input-group-prepend")
                        span(class="input-group-text")
                            i(class="fas fa-lock")
                        input(type='password', class="form-control",, name='password', value='', placeholder="Password", required)
            div(class="text-center")
                input(type='submit', value='Login', class="btn btn-primary my-4")