html()
  head
    title=title
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/all.css')
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.bundle.js")
    script(src="/js/js.cookie.js")
    script(src="/js/dashboard.min.js")
  body
    div(class="main-content")
      div(class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9")
        div(class="container")
          div(class="header-body text-center mb-7")
            div(class="row justify-content-center")
              div(class="col-xl-5 col-lg-6 col-md-8 px-5")
                h1(class="text-white")=title
                p(class="text-lead text-white")=description
      div(class="container mt--9 pb-5 text-gray")
        div(class="row justify-content-center")
          div(class="col-lg-5 col-md-7")
            div(class="card bg-secondary border border-soft mb-0")
              block content